
bin/Debug/PORKYS.exe
bin/Debug/PORKYS.pdb
bin/Debug/PORKYS.xml
INIs/LAPTOP-7N54SP11.ini
Microsoft.ApplicationBlocks.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/CENPROFAR.vbproj.FileListAbsolute.txt
obj/Debug/CENPROFAR.vbproj.GenerateResource.Cache
obj/Debug/CENPROFAR.vbprojResolveAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/PORKYS.exe
obj/Debug/PORKYS.pdb
obj/Debug/PORKYS.xml
PORKYS.v11.suo
TextBoxConFormatoVB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Utiles/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
